.analytics__nav {
  display: none;
}

@media only screen and (min-width: 425px) {
  .analytics__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
    max-width: 8.5rem;
  }
}
