.card__description {
  margin: .5rem 0 .25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1rem;
  color: #1A1B22;
}

@media only screen and (min-width: 768px) {
  .card__description {
    margin: .5rem 0 .6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .card__description {
    margin: .8rem 0 .9rem;
  }
}
