.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .8rem;
  padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .header__container {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .header__container {
    padding: 0 5.2rem;
  }
}