.container__info {
  padding: .8rem;
}

@media only screen and (min-width: 768px) {
  .container__info {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container__info {
    padding: 4rem 5.2rem;
  }
}
