.title {
  margin: 0;
  font-family: Roboto Slab, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #1A1B22;;
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
