.container__commits {
  padding: 1.6rem .8rem;
  background-color: #F5F6F7;
}

@media only screen and (min-width: 768px) {
  .container__commits {
    padding: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container__commits {
    padding: 4rem 5.2rem;
  }
}
