.search__field {
  appearance: none;
  padding: .8rem;
  font-family: Roboto;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1rem;
  background-color: #FFFFFF;
  border: 0.05rem solid #D1D2D6;
  border-radius: 5rem;
}

@media only screen and (min-width: 480px) {
  .search__field {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding-right: 8rem;
    
  }
}

.search__field:focus {
  outline: none;
  border: 0.05rem solid #2F71E5;
}
