.header__navlist-item {
  box-sizing: border-box;
  padding-top: .8rem;
  padding-bottom: calc(.8rem - 3px);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: .8rem;
  line-height: 1.2rem;
  color: #B6BCBF;
}

.header__navlist-item:not(:last-child) {
  margin-right: 0.55rem;
}

@media only screen and (min-width: 768px) {
  .header__navlist-item {
    padding-top: 1rem;
    padding-bottom: calc(1rem - 3px);
    font-size: .9rem;
  }

  .header__navlist-item:not(:last-child) {
    margin-right: 1.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .header__navlist-item {
    padding-top: 1.4rem;
    padding-bottom: calc(1.4rem - 3px);
  }
}