.results__link {
  display: block;
  margin-top: .8rem;
  padding-right: .8em;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: .9rem;
  line-height: 1.2rem;
  color: #1A1B22;;
  background-image: url('../../../assets/arrow.svg');
  background-repeat: no-repeat;
  background-position: center right;
}

@media only screen and (min-width: 768px) {
  .results__link {
    margin-top: 0;
  }
}
